body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("mappa-firenze.jpg");
    background-size: cover;
    background-position: center;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    background-color: #7fbf7f;
    height: 130px;
}

.logo {
    position: absolute;
    left: 20px;
    height: 60px;
    width: auto; 
    object-fit: contain;
    border-radius: 12px;
}

/* TITOLO */
.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/* NAVBAR */
.navbar {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: white;
}

.box-text {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-text:hover {
    transform: scale(1.03); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#themeToggle {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dark {
    background-color: #121212;
}

.dark header,
.dark footer {
    background-color: green;
}

.dark a {
    color: white;
}

.dark a:hover {
    color: black;
}

/* MAIN */
main {
    flex: 1;
}

.box {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 100px;
    width: 700px;
    height: 360px;
    margin: 100px auto 0;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.box-title {
    background-color: #7fbf7f;
    color: white;
    margin: 0;
    padding: 15px;
    font-size: 20px;
}

.text {
    margin-top: 15px;
    display: flex;
    text-align: center;
    font-size: 25px;
}

.box-text1 {
    padding: 10px;
    color: #333;
    font-size: 23px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box-text2 {
    padding: 10px;
    color: #333;
    font-size: 23px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* FOOTER */
footer {
    height: 70px;
    background-color: #7fbf7f;
    margin-top: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .title {
        font-size: 20px;
    }

    .logo {
        height: 50px;
    }
}