body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffe4ec, #ffd1dc);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.navbar .logo {
  font-size: 28px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}


.main {
  position: relative;
  padding: 60px;
  overflow: hidden;
}


.hero-text {
  width: 40%;
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 70px;
}

.hero-text p {
  margin: 20px 0;
  font-size: 18px;
}


.video-btn {
  display: inline-block;
  background: #ff8fb1;
  color: white;
  padding: 14px 28px;
  border-radius: 12px;
  text-decoration: none;
}


.main-image {
  position: absolute;
  right: -250px;
  top: 50%;
  transform: translateY(-50%);
}


.main-image::before {
  position: absolute;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(255,105,180,0.5) 0%, transparent 70%);
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-image img {
  width: 1300px;
  max-width: none;
  position: relative;
  z-index: 2;
}


.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 60px;
  align-items: center;
  justify-content: center;
}

.service-card {
  text-align: center;
}
/* mettere il testo esattamente sotto le immmagini */

.service-card img {
  width: 200px;
  margin-bottom: 200px;
  object-fit: cover; /* evita deformazioni */
  border-radius: 10px; 
}

.service-card h3 {
  font-size: 20px;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.socials {
  text-align: left;
}

.social-icons img {
  width: 300px;
  margin-left: 0px;
}

.social-icons img:hover {
  transform: scale(1.2);
}